
<main class="register-container-wrapper">
    <div class="">
        <form [formGroup]="registrationForm" class="flex flex-col">
            <mat-form-field >
                <input matInput placeholder="Firm name" formControlName="firmName">
                <mat-error *ngIf="registrationForm.get('firmName')?.invalid">Please enter the Firm Name</mat-error>
            </mat-form-field>
            <mat-form-field >
               <input matInput placeholder="Firm email" formControlName="email">
               <mat-error *ngIf="registrationForm.get('email')?.invalid">Please enter the Firm Email</mat-error>
            </mat-form-field>  

            <button mat-raised-button color="primary" [disabled]="registrationForm.invalid" (click)="createFirm()" >
              Create Firm
            </button>
            <div class="flex flex-col">
              <p>Do you want to user the current users data for Firm data?</p>
              <mat-checkbox formControlName="firmName" name="name" (change)="onCheckbox($event)">
                {{data?.userName}}
              </mat-checkbox>
              <mat-checkbox formControlName="email" name="email" (change)="onCheckbox($event)">
                {{data?.email}}
              </mat-checkbox>
    
            </div>
        </form>
    </div>
</main>