<div class="flex flex-col justify-around bg-white w-full h-full">
    <div class="card-container flex h-[30%] p-[1%] justify-evenly ">
        <mat-card class="min-w-[22%]">
            <mat-card-title>
                Total Rent 
            </mat-card-title>
            <mat-card-content>
                <div class="text-5xl">
                    {{"500000000" | currency:'INR':'symbol':'3.0'}}
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="min-w-[22%]">
            <mat-card-title>
                Rent Pending
            </mat-card-title>
            <mat-card-content>
                <div class="text-5xl">
                    {{"4000000" | currency:'INR':'symbol':'3.0'}}
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="min-w-[22%]">
            <mat-card-title>
                Total Properties
            </mat-card-title>
            <mat-card-content>
                <div class="text-5xl">
                    10
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="min-w-[22%]">
            <mat-card-title>
                Total Tenants
            </mat-card-title>
            <mat-card-content>
                <div class="text-5xl">
                    35
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="table-container h-[70%] p-[1%]">
       
    </div>
</div>