<div class="data-entry-container h-full">
    <div class="btn-container  flex min-h-[30%] p-[3%] justify-evenly ">
        <button class="primary-btn" (click)="addProperty()">
            Add New Property
        </button>
        <button class="primary-btn" (click)="addTenant()">
            Add New Tenant
        </button>
    </div>
    <div class="edit-currnet-data-container p-[4%]">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Panel Title
                    </mat-panel-title>
                    <mat-panel-description>
                        Panel Description
                    </mat-panel-description>
                </mat-expansion-panel-header>
                        Primary Content of the panel
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>