<mat-accordion>
    <ng-container>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Property Name
                </mat-panel-title>
                <mat-panel-description>
                    Click to see the details
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                Tenant Details
            </div>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>