@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rent-management-ui-primary: mat.define-palette(mat.$indigo-palette);
$rent-management-ui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rent-management-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rent-management-ui-theme: mat.define-light-theme((
  color: (
    primary: $rent-management-ui-primary,
    accent: $rent-management-ui-accent,
    warn: $rent-management-ui-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rent-management-ui-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Lato", sans-serif !important; }
.mat-dialog-container{
  // padding: 0px !important;
  background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
}


.side-nav-btn{
  font-size: 16px;
  font-weight: 600;
  padding: 8px 12px;
  background-color: #f3f3fb;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  letter-spacing: 1px;
  cursor: pointer;
}
.side-nav-btn:hover{
  -webkit-box-shadow: -1px -2px 35px 0px rgba(93,170,189,0.47);
-moz-box-shadow: -1px -2px 35px 0px rgba(93,170,189,0.47);
box-shadow: -1px -2px 35px 0px rgba(93,170,189,0.47);
}
.green-check {
  color: green;
}
.mat-card-title,.mat-cell,.mat-card-content,.mat-expansion-panel-header-description,.mat-expansion-panel-content,.mat-expansion-panel-header-title,.mat-select-value-text.mat-select-min-line {
  font-family: "Lato", sans-serif !important;
}
.red-close {
  color: red;
}

.primary-btn{
  background-color:#2C3E50;
  color: #FFFFFF;
  border: none; 
}
.primary-btn:hover{
  background-color: #1A252F;
}
.secondary-btn{
  background-color:  #3498DB;
  color: #FFFFFF;
  border: none;
}
.secondary-btn:hover{
  background-color: #2980B9;
}
.primary-text{
  color: #2C3E50;
}